<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>OTP Verification Form</title>
    <link rel="stylesheet" href="/css/Entrycss/email.css"> 
    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
   <!-- <script src="script.js" defer></script> -->
  </head>
  <body>
    <div class="container">
      <header>
        <i class="bx bxs-check-shield"></i>
      </header>
      <h4>Enter OTP Code</h4>
      <form action="/email" method="post">
        <div class="input-field">
<input type="text" id="otp1" pattern="[0-9]" maxlength="1" name="otp" size="1">
<input type="text" id="otp2" pattern="[0-9]" maxlength="1" name="otp" size="1">
<input type="text" id="otp3" pattern="[0-9]" maxlength="1" name="otp" size="1">
<input type="text" id="otp4" pattern="[0-9]" maxlength="1" name="otp" size="1"> 
        </div>
        <button id="submit">Submit</button>
        <!-- <button>Verify OTP</button> -->
      </form>
    </div>
  </body>
</html>