<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Entrycss/login.css">
</head>
<body>
    <form class="container" action="/login" method="post">
        <h1>LOGIN</h1>
        <div class="main">
            <!-- <label for="login">Email</label> -->
            <div class="box">
            <input type="text" class="inp" name="email" placeholder="Email" required>

            <!-- <label for="">Password</label> -->
            <input type="text" class="inp" name="password" placeholder="Password" required>
            </div>
            <div class="btn">  
                <button class="submit">Login</button>
            </div>
            <div class="forgot">
                <a href="/forgot">Forgot Password?</a>
            </div>
            
        </div>
        <a href="/signup" class="sig" >Signup</a>
       
    </form>
    
</body>
</html>
