<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/Entrycss/usersignup.css">
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script> -->
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">

</head>
<body>
  <form action="/usersignup" method="post">
  <div class="main" style="background:#e0e5ec;">
  <div class="appframe">
   <div class="appframe2">
     <i class="fas fa-fish" style="color:pink;"></i>
     <div class="logo" style="color: pink;">
       pawpawcatgarden
     </div>
     <div class="login" style=" color: #141725; background: pink;">
       SIGN UP
     </div>
   </div>
    <div class="appframe3" style="color: pink;">
      <input type="text" placeholder="User Name" name="name" required>
    </div>
     <div class="appframe3" style="color: pink;">
      <input type="text" placeholder="Email" name="email" required>
    </div>
     <div class="appframe3" style="color: pink;">
      <input type="number" placeholder="Number" name="number" required>
    </div>
    <div class="appframe3" style="color: pink;">
      <input type="text" placeholder="Password" name="password" required>
    </div>
    <div class="appframe3" style="color: pink;">
      <input type="text" placeholder="Confirm Password" name="confirmpassword" required>
    </div>
 <div class ="appframe5">
   <button class="btn" style="color: #141725; background:pink;">
 CREATE ACCOUNT
</button>
 </div>
   <div class="paw2">
     <i class="fas fa-paw"></i></div>
    </div>
 
</div>
</form>
</body>
</html>